<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Anso Time</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    
    <link rel="stylesheet" href="/static/site.css" type="text/css"/>
    {% block head %}{% end %}
    
    <script type="text/javascript" charset="utf-8">
      $(function(){
        $("form").live("blur", function(){
          xsrf = $(this).find("input[name='_xsrf']").val();
          date = $(this).find("input[name='date']").val();
          hours = $(this).find("input[name='hours']").val();
          
          if (parseInt(hours)>= 0) {
            $.ajax({
              type: 'POST',
              url: "/",
              data: {'xsrf': xsrf, 'date':date, 'hours':hours}
            });
          };
        });
      })
    </script>
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="float:right">
            {% if current_user.administrator %}
              <a href="/admin">Admin</a> |
            {% end %}
            {{ escape(current_user.nickname()) }}
            <a href="{{ escape(users.create_logout_url('/')) }}">Sign out</a>
        </div>
        <h1><a href="/">Anso Time</a></h1>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
